<!-- demographics/templates/demographics/demographics_upload.html -->
{% extends 'core/base.html' %}

{% block title %}Upload Demographics{% endblock %}

{% block content %}
<div class="py-6 px-6">
  <h1 class="text-xl font-bold mb-4">Subir demografía</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="card p-4">
          <h3 class="text-lg font-bold mb-2">Upload ID Item</h3>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="upload_type" value="id_item">
              <input type="file" name="excel_file" required>
              <button type="submit" class="btn btn-primary">Upload</button>
          </form>
      </div>
      <div class="card p-4">
          <h3 class="text-lg font-bold mb-2">Upload Phone</h3>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="upload_type" value="phone">
              <input type="file" name="excel_file" required>
              <button type="submit" class="btn btn-primary mt-2">Upload</button>
          </form>
      </div>
      <div class="card p-4">
          <h3 class="text-lg font-bold mb-2">Upload ID Demographics</h3>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="upload_type" value="id_demographics">
              <input type="file" name="excel_file" required>
              <button type="submit" class="btn btn-primary mt-2">Upload</button>
          </form>
      </div>
      <div class="card p-4">
          <h3 class="text-lg font-bold mb-2">Upload Aval Demographics</h3>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="upload_type" value="aval_demographics">
              <input type="file" name="excel_file" required>
              <button type="submit" class="btn btn-primary mt-2">Upload</button>
          </form>
      </div>
  </div>
</div>
{% endblock %}