{% extends 'core/base.html' %}

{% block title %}Add client{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl">Add client</h1>

        {% if team.plan.max_clients > team.clients.all|length %}
            <form method="post" action=".">
                {% csrf_token %}

                {{ form.as_p}}

                <button class="btn btn-primary">Submit</button>
            </form>
        {% else %}
            <div class="btn btn-danger mt-6">
                Your team has reached the maximum limit of clients. Upgrade to add more.
            </div>
        {% endif %}
{% endblock %}